.btn-primary,
.btn-secondary {
    --padding: .5rem 1rem;

    text-decoration: none;
    padding: var(--padding);
    border-radius: 4px;
    width: fit-content;
}

.btn-primary {
    background-color: var(--clr-primary-400);
    color: var(--clr-accent-100);
}

.btn-primary:hover {
    background-color: var(--clr-primary-300);
}

.btn-secondary {
    background-color: var(--clr-accent-600);
    color: var(--clr-accent-100);
    border: none;
}

.btn-secondary:hover {
    background-color: var(--clr-primary-400);
}

@media (min-width: 600px) {
    .btn-primary,
    .btn-secondary {
        --padding: .7rem 2rem;
        border-radius: 6px;
    }
}